
.top{
  position: relative;
  bottom:15px;
  }
  .debargha{
      margin: 0 auto 0 auto;
      font-family: 'Sacramento', cursive;
      font-size: 80px;
      color: #2C74B3;
      font-weight: bold;
      height: 0px;
      width: 500px;
  }

.name{
  height: 75px;
  position: relative;
  top: 80px;
}

.topcontainer{
  padding-top: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.middlecontainer{
  background-color:#F2DEBA;
  width:900px;
  height: 200px;
  border-radius: 10px;
  margin: 150px auto 60px auto;
}
.bottomcontainer{
  background-color: #A8D1D1;
  margin: 60px auto 60px auto;
  width: 900px;
  height: 720px;
  border-radius: 10px;
}
#dev{
  font-size: 20px;

  color:#2C74B3;
  position: relative;
  top: 70px;
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}
#scroll{
  font-size: 17px;
  color:#579BB1;
  position: relative;
  left: 20px;
  top: 30px;
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.astro{
  background-color:#F5EDCE;
  height: 400px;
  width: 400px;
  position: relative;
  top: 70px;
  border-radius:40%;
}
.debargha {
transition: all .1s ease-in-out;
}

.debargha:hover {
transform: scale(1.05);
}
.hi{
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: lighter;
  color:#579BB1;
  font-size: 40px;
  padding-top:10px;
}
.intro{
  text-align: center;
  margin: 0px 200px 0px 200px;
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  position: relative;
  bottom:25px;
}
.what{
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: #181D31;
  font-size: 45px;
  margin-top: 20px;
}
.rocket{
  height:150px;
  width:150px;
  position: absolute;
  padding-top: 25px;
}
.bulb{
  padding-top: 20px;
  height: 150px;
  width: auto;
}
#develop{
  float: left;
  height: 150px;
  padding-left: 80px;

}
.develop{
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color:#2D033B;
  font-size: 30px;
  padding-left: 100px;
}
.developtext{
  font-size: 1.5em;
  font-family: 'Crimson Text', serif;
  padding-left: 360px;
  padding-right: 40px;

}
#design{
  float: right;
  height: 150px;
  border-radius: 50%;
  position: relative;
  right: 80px;
  position: relative;
  top: 60px;
}
.design{
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color:#2D033B;
  font-size: 30px;
  padding-left: 40px;
  position: relative;
  top: 60px;
}
.designtext{
  font-size: 1.5em;
  font-family: 'Crimson Text', serif;
  padding-left: 40px;
  padding-right: 350px;
  position: relative;
  top: 60px;
}
.last{
  text-align: center;
  background-color: #F0DBDB;
  width:900px;
  height: 310px;
  border-radius: 10px;
  margin: 60px auto 60px auto;
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color: #2C74B3;
  font-size: 30px;
  padding-top: 20px;
}
.h5{
  font-family: 'Crimson Text', serif;
  font-weight: 100;
  color: black;
  font-size:20px;
  padding-left: 60px;
  padding-right:60px;
  padding-top: 20px;
 }
 hr{
   border-style: none;
   border-top-style: dotted;
   border-color: grey;
   border-width: 5px;
   width: 5%;
 }
 .btn {
  background: #aec6d6;
  background-image: -webkit-linear-gradient(top, #aec6d6, #5dcfbc);
  background-image: -moz-linear-gradient(top, #aec6d6, #5dcfbc);
  background-image: -ms-linear-gradient(top, #aec6d6, #5dcfbc);
  background-image: -o-linear-gradient(top, #aec6d6, #5dcfbc);
  background-image: linear-gradient( bottom, #aec6d6, #5dcfbc);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;

  color: #2C74B3;
  font-size: 20px;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  top: 20px;
  font-weight: 50;
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  text-transform: uppercase;

}

.btn:hover {
  background: #b3d0e6;
  background-image: -webkit-linear-gradient(top, #b3d0e6, #2be6b7);
  background-image: -moz-linear-gradient(top, #b3d0e6, #2be6b7);
  background-image: -ms-linear-gradient(top, #b3d0e6, #2be6b7);
  background-image: -o-linear-gradient(top, #b3d0e6, #2be6b7);
  background-image: linear-gradient(bottom, #b3d0e6, #2be6b7);
  text-decoration: none;
}
.footerimage{

  height: 30px;
  width: 30px;
  border-radius: 50%;
  padding-left: 7px;
  padding-right: 7px;
  transition: all .05s ease-in-out;
}
.footerimage:hover{
  transform: scale(1.1);
}
.footer{
  text-align: center;
  background-color: #A0C3D2;
  height: 100px;
  padding: 20px 20px 0px 20px;

}
body{
  margin: 0px 0px 0px 0px;
}
